.pdf-wrapper{
  width: 100%;
  margin-top: 10px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}
.general-wrapper{
  display: flex;
  justify-content: center;
}
.indicator-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 80%;
}
.indicator{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #ff6161;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.text{
  color: black;
  margin: 32px 0 32px 0;
  font-size: 24px;
  text-align: center;
}
.indicator-symbol{
  color: white;
  font-size: 80px;
  margin-bottom: 0;
}
mat-dialog-actions {
  margin-right: 32px;
  height: 5%;
  margin-top: 0;
  padding: 0;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
  height: 85%;
  font-size: 22px;
}

/////////RESPONSIVE////////////////////////
@media only screen and(max-width: 1024px) {
  .indicator-wrapper{
    height: 90%;
  }
  .indicator{
    width: 200px;
    height: 200px;
  }
  .text{
    margin: 70px 0 70px 0;
    font-size: 40px;
  }
  .indicator-symbol{
    font-size: 100px;
  }
}
@media only screen and(max-width: 768px) {
  .indicator{
    width: 200px;
    height: 200px;
  }
  .indicator-symbol{
    font-size: 100px;
  }
  .text{
    margin: 70px 0 70px 0;
    font-size: 32px;
  }
}

@media only screen and(max-width: 667px) {
  .indicator{
    width: 120px;
    height: 120px;
  }
  .text{
    margin: 26px 0 28px 0;
    font-size: 20px;
  }
  .indicator-symbol{
    font-size: 60px;
  }
}
@media only screen and(max-width: 414px) {
  .indicator{
    width: 100px;
    height: 100px;
  }
  .text{
    margin: 26px 0 28px 0;
    font-size: 18px;
  }
  .indicator-symbol{
    font-size: 50px;
  }
}
@media only screen and(max-width: 375px) {
  .indicator{
    width: 80px;
    height: 80px;
  }
  .text{
    margin: 26px 0 28px 0;
    font-size: 15px;
  }
  .indicator-symbol{
    font-size: 40px;
  }
}
@media only screen and(max-width: 280px) {
  .indicator{
    width: 80px;
    height: 80px;
  }
  .text{
    margin: 26px 0 28px 0;
    font-size: 12px;
  }
  .indicator-symbol{
    font-size: 40px;
  }
}

//////// RESPONSIVE HEIGTH /////////////////!!!
@media only screen and(max-height: 1366px){
  .pdf-wrapper{
    height: 1214px;
    margin: 5px 5px 0 5px;
  }
  .mat-dialog-actions{
    margin: 0 16px 0 0;
    min-height: 30px
  }
  .mat-button{
    min-width: 50px;
    line-height: 18px;
    padding: 0 10px;
    height: 26px;
    font-size: 14px;
  }
}

@media only screen and(max-height: 1024px){
  .pdf-wrapper{
    height: 897px;
  }
}
@media only screen and(max-height: 812px){
  .pdf-wrapper{
    height: 682px;
  }
}
@media only screen and(max-height: 768px){
  .pdf-wrapper{
    height: 624px;
  }
  .mat-dialog-actions{
    margin: 5px 16px 0 0;
  }
}
@media only screen and(max-height: 667px){
  .pdf-wrapper{
    height: 555px;
  }
  .mat-button{
    font-size: 13px;
  }
}
@media only screen and(max-height: 568px){
  .pdf-wrapper{
    height: 474px;
  }
}
@media only screen and(max-height: 540px){
  .pdf-wrapper{
    height: 432px;
  }
  .mat-button{
    height: 24px;
    font-size: 12px;
  }

}
@media only screen and(max-height: 414px){
  .pdf-wrapper{
    height: 327px;
  }
}
@media only screen and(max-height: 384px){
  .pdf-wrapper{
    height: 257px;
  }
  .mat-button{
    height: 20px;
  }
}
@media only screen and(max-height: 280px){
  .pdf-wrapper{
    height: 180px;
  }
}

