<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">En caso de siniestro</h4>
      <h6><p style="font-weight: bold; color: red;margin: 0;">* </p>En caso de siniestro llama al número correspondiente a tu aseguradora el cual se encuentra al costado derecho de cada una.</h6>
      <div class="expandElements">
        <div class="siniestro" *ngFor="let poliza of aseguradoras">
          <div class="imgAndNameAseguradora">
            <img src="{{poliza.url}}" class="imgAseguradoraSiniestros" alt="">
            <div class="subtitleP2" style="font-weight: bold; color: #7f7f7f">{{poliza.id}}</div>
            <div class="tel-info subtitleP2">{{poliza.telOption}}</div>
            <br>
            <div class="tel-number subtitleP2"><a style="color: #6E6E6E;" href="tel: {{poliza.tel}}">{{poliza.tel}}</a></div>
          </div>
        </div>
      </div>
    </section>
  </mat-card-title>
</mat-card>
