@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

mat-menu {
  position: absolute;
}

.send {
  background-color: $green;
}

.pending {
  background-color: $yellow;
}

.declined {
  background-color: $pink;
}

mat-menu {
  position: absolute;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.backArrow {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  padding: 0;
}

//// ------------------------- estilos temporales --------
.main {
  margin-top: 2%;
  width: 100%;
  display: inline-block;
}

////---------------------------aseguradoras
.siniestro {
  margin: 5% 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(175, 173, 173, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(175, 173, 173, 0.75);
  box-shadow: 10px 10px 5px -8px rgba(175, 173, 173, 0.75);
  border-left: solid 15px  #f56d10;
  border-right: solid 15px  #f56d10;
  border-top: 0;
  border-bottom: 0;
}

.tel-info {
  font-size: 15px;
  color: #484749;
}

.tel-number {
  font-weight: bold;
  color: #484749;
}

.imgAndNameAseguradora {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.bg-img-properties {
  width: 150px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 7px 0;
}

.gif {
  width: 200px;
  height: 200px;
  margin: 0 0 7px 0;
}

.itemsFlex {
  display: inline-block;
  align-items: normal;
}

.docContainer {
  width: 100%;
  height: auto;
  max-height: 80vh;
  display: inline-flex;
  justify-content: space-evenly;
}

.infoInspeccion {
  width: 95%;
  height: auto;
  max-height: 400px;
  text-align: left;
  padding: 0;
  font-size: 22px;
}

.titleP {
  font-size: 24px;
}

.subtitleP {
  font-size: 22px;
}

.h4Iter {
  visibility: visible;
}

.gifIMGInstructions {
  width: 370px;
  height: 300px;
}

.imgAseguradoraSiniestros {
  width: 200px;
  height: 55px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .infoInspeccion {
    font-size: 22px;
  }
  .titleP {
    font-size: 24px;
  }
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
  .gifIMGInstructions {
    width: 370px;
    height: 300px;
  }
  .imgAseguradoraSiniestros {
    width: 200px;
    height: 55px;
  }
  .imgAndNameAseguradora {
    display: inline-flex;
  }
}

@media only screen and(max-width: 768px) {
  .infoInspeccion {
    font-size: 22px;
  }
  .titleP {
    font-size: 24px;
  }
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
  .gifIMGInstructions {
    width: 370px;
    height: 300px;
  }
  .imgAseguradoraSiniestros {
    width: 200px;
    height: 55px;
  }
  .imgAndNameAseguradora {
    display: inline-flex;
  }
}

@media only screen and(max-width: 760px) {
  .titleP {
    font-size: 22px;
  }
  .infoInspeccion {
    font-size: 18px;
  }
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
  .gifIMGInstructions {
    width: 370px;
    height: 300px;
  }
  .imgAseguradoraSiniestros {
    width: 180px;
    height: 55px;
  }
  .imgAndNameAseguradora {
    display: inline-flex;
  }
}

@media only screen and(max-width: 600px) {
  .titleP {
    font-size: 22px;
  }
  .infoInspeccion {
    font-size: 18px;
  }
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
  .gifIMGInstructions {
    width: 360px;
    height: 300px;
  }
  .imgAseguradoraSiniestros {
    width: 170px;
    height: 45px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 580px) {
  .titleP {
    font-size: 22px;
  }
  .infoInspeccion {
    font-size: 18px;
  }
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
  .gifIMGInstructions {
    width: 340px;
    height: 290px;
  }
  .imgAseguradoraSiniestros {
    width: 180px;
    height: 45px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 420px) {
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
  .gifIMGInstructions {
    width: 300px;
    height: 270px;
  }
  .imgAseguradoraSiniestros {
    width: 160px;
    height: 40px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 411px) {
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
  .gifIMGInstructions {
    width: 280px;
    height: 250px;
  }
  .imgAseguradoraSiniestros {
    width: 150px;
    height: 40px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 380px) {
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
  .gifIMGInstructions {
    width: 280px;
    height: 250px;
  }
  .imgAseguradoraSiniestros {
    width: 140px;
    height: 30px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 360px) {
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .gifIMGInstructions {
    width: 260px;
    height: 240px;
  }
  .expandElements {
    overflow-x: auto;
  }
  .imgAseguradoraSiniestros {
    width: 130px;
    height: 30px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}

@media only screen and(max-width: 320px) {
  .titleP {
    font-size: 16px;
  }
  .infoInspeccion {
    font-size: 14px;
  }
  .subtitleP {
    font-size: 14px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .gifIMGInstructions {
    width: 260px;
    height: 230px;
  }
  .imgAseguradoraSiniestros {
    width: 120px;
    height: 30px;
  }
  .imgAndNameAseguradora {
    display: inline-block;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////RESPONSIVE HEIGHT////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-height: 1366px){
  .expandContent{
    height: 1240px;
  }
}
@media only screen and(max-height: 1280px){
  .expandContent{
    height: 1150px;
  }
}
@media only screen and(max-height: 1024px){
  .expandContent{
    height: 900px;
  }
}
@media only screen and(max-height: 960px){
  .expandContent{
    height: 834px;
  }
}
@media only screen and(max-height: 854px){
  .expandContent{
    height: 730px;
  }
}
@media only screen and(max-height: 823px){
  .expandContent{
    height: 696px;
  }
}
@media only screen and(max-height: 812px){
  .expandContent{
    height: 675px;
  }
}
@media only screen and(max-height: 736px){
  .expandContent{
    height: 608px;
  }
}
@media only screen and(max-height: 720px){
  .expandContent{
    height: 594px;
  }
}
@media only screen and(max-height: 667px){
  .expandContent{
    height: 530px;
  }
}
@media only screen and(max-height: 640px){
  .expandContent{
    height: 508px;
  }
}
@media only screen and(max-height: 600px){
  .expandContent{
    height: 475px;
  }
}
@media only screen and(max-height: 568px){
  .expandContent{
    height: 444px;
  }
}
@media only screen and(max-height: 540px){
  .expandContent{
    height: 408px;
  }
}
@media only screen and(max-height: 480px){
  .expandContent{
    height: 360px;
  }
}
@media only screen and(max-height: 414px){
  .expandContent{
    height: 290px;
  }
}
@media only screen and(max-height: 384px){
  .expandContent{
    height: 255px;
  }
}
@media only screen and(max-height: 360px){
  .expandContent{
    height: 240px;
  }
}
@media only screen and(max-height: 320px){
  .expandContent{
    height: 200px;
  }
}
@media only screen and(max-height: 280px){
  .expandContent{
    height: 160px;
  }
}