@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0;
  }
}

.expandContent {
  width: 100%;
  height: calc(100vh - 170px);
  padding: 24px 24px 8px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: fit-content;
}

.text1 {
  text-align: left;
  font-size: 18px;
}

////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-width: 420px) {
  .h4Iter{
    font-size: 18px;
  }
  .text1 h6, h6 p{
    font-size: 14px;
  }
}


@media only screen and(max-width: 384px) {
  .h4Iter{
    font-size: 18px;
  }
  .text1 h6, h6 p{
    font-size: 12px;
  }
}

@media only screen and(max-width: 280px){
  .h4Iter{
    font-size: 16px;
  }
  .text1 h6, h6 p{
    font-size: 11px;
  }

}


