<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">Catálogo de Facturación</h4>
      <div class="expandElements">
        <div class="text1">
          <h6>
            Estimado asegurado, para solicitar su factura por favor envíenos un correo con los siguientes datos a <b style="color: #4d8cff;">asistenciapagos@ahorraseguros.mx</b>
            <br><br>
            <p style="font-weight:bold;margin:0;" class="text1">1- Nombre completo</p>
            <p style="font-weight:bold;margin:0;" class="text1">2- Número de póliza</p>
            <p style="font-weight:bold;margin:0;" class="text1">3- Nombre de tu aseguradora</p>
            <p style="font-weight:bold;margin:0;" class="text1">4- Teléfono de contacto</p>
            <br><br>
            Es importante que valide que su RFC esté correcto en la póliza, en caso de tener una observación valla al módulo de
            <a style="color: #626262;font-weight: bold;" routerLink="/solicitar-modificaciones">“modificar póliza existente”</a> dentro del menú de opciones
          </h6>
        </div>
      </div>
    </section>
  </mat-card-title>
</mat-card>
