@import '../../../../styles/colors';
@import '../../../../styles/font';
@import '../../../../styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.expandContent {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  text-align: left;
  height: fit-content;
  padding: 0 20px 5px 20px;
}
h4{
  font-size: 24px;
  padding: 15px 0;
}
.mat-card-title p{
  font-size: 18px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .gifIMGInstructions {
    width: 370px;
    height: 300px;
  }
}
@media only screen and(max-width: 800px) {
  h4{
    font-size: 22px;
    padding: 12px 0;
  }
  .expandElements{
    padding: 0 18px 5px 18px;
  }
}
@media only screen and(max-width: 768px) {
  ::-webkit-scrollbar{
    width: 4px;
  }
  h4{
    font-size: 20px;
  }
  .mat-card-title p{
    font-size: 16px;
  }
}
@media only screen and(max-width: 600px) {
  h4{
    font-size: 18px;
    padding: 10px 0;
  }
  .expandElements{
    padding: 0 18px 5px 18px;
  }
  .gifIMGInstructions {
    width: 360px;
    height: 300px;
  }
}

@media only screen and(max-width: 580px) {
  .expandElements{
    padding: 0 15px 5px 15px;
  }
  .mat-card-title p{
    font-size: 15px;
  }
  .gifIMGInstructions {
    width: 340px;
    height: 290px;
  }
}

@media only screen and(max-width: 480px) {
  ::-webkit-scrollbar{
    width: 3px;
  }
  .gifIMGInstructions {
    width: 300px;
    height: 270px;
  }
}

@media only screen and(max-width: 414px) {
  .expandElements{
    padding: 0 12px 5px 12px;
  }
  .mat-card-title p{
    font-size: 13px;
  }
  .gifIMGInstructions {
    width: 280px;
    height: 250px;
  }
}
@media only screen and(max-width: 360px) {
  .expandElements{
    padding: 0 10px 5px 10px;
  }
  .mat-card-title p{
    font-size: 12px;
  }
  .gifIMGInstructions {
    width: 260px;
    height: 240px;
  }
}

@media only screen and(max-width: 320px) {
  h4{
    font-size: 16px;
  }
  .gifIMGInstructions {
    width: 200px;
    height: 180px;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////RESPONSIVE HEIGHT////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-height: 1366px){
  .expandContent{
    height: 1240px;
  }
}
@media only screen and(max-height: 1280px){
  .expandContent{
    height: 1150px;
  }
}
@media only screen and(max-height: 1024px){
  .expandContent{
    height: 900px;
  }
}
@media only screen and(max-height: 960px){
  .expandContent{
    height: 834px;
  }
}
@media only screen and(max-height: 854px){
  .expandContent{
    height: 730px;
  }
}
@media only screen and(max-height: 823px){
  .expandContent{
    height: 696px;
  }
}
@media only screen and(max-height: 812px){
  .expandContent{
    height: 675px;
  }
}
@media only screen and(max-height: 736px){
  .expandContent{
    height: 608px;
  }
}
@media only screen and(max-height: 720px){
  .expandContent{
    height: 594px;
  }
}
@media only screen and(max-height: 667px){
  .expandContent{
    height: 530px;
  }
}
@media only screen and(max-height: 640px){
  .expandContent{
    height: 508px;
  }
}
@media only screen and(max-height: 600px){
  .expandContent{
    height: 475px;
  }
}
@media only screen and(max-height: 568px){
  .expandContent{
    height: 444px;
  }
}
@media only screen and(max-height: 540px){
  .expandContent{
    height: 408px;
  }
}
@media only screen and(max-height: 480px){
  .expandContent{
    height: 360px;
  }
}
@media only screen and(max-height: 414px){
  .expandContent{
    height: 290px;
  }
}
@media only screen and(max-height: 384px){
  .expandContent{
    height: 255px;
  }
}
@media only screen and(max-height: 360px){
  .expandContent{
    height: 240px;
  }
}
@media only screen and(max-height: 320px){
  .expandContent{
    height: 200px;
  }
}
@media only screen and(max-height: 280px){
  .expandContent{
    height: 160px;
  }
}