@import "~src/app/styles/colors";
@import "~src/app/styles/variables";
@import "~src/app/styles/font";


// --------estilos temporales-----------------
.example-spacer {
  flex: 1 1 auto;
}
.ahorra-logo {
  margin-left: 50px;
  height: 40px;
}
.example-card {
  width: 70%;
  height: 390px;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  z-index: 100;

  background-image: url("~src/assets/car.jpg");
  background-position: top;

  border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
}
.car-b{
  margin-top: -80px;
  width: 96%;
  z-index: 30;
  position: absolute;
}
.form-group{
  width: 100%;
}
mat-card-header{
  height: 70px;
}
mat-card-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#form{
  background: rgba(255, 255, 255, 0.70);
  height: 280px;
  padding: 10px;
}
.button-submit{
  border-radius: 80px;
  width: 50%;
  //font-size: 15px;
}
.store{
  display: inline-flex;
  justify-content: space-between;
  width: auto;
  height: auto;
}
//-------fin estilos temporales
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 620px) {
  .ahorra-logo{
    margin-left: 21px;
    height: 40px;
  }
}
@media only screen and(max-width: 580px) {
  .ahorra-logo{
    margin-left: 27px;
    height: 36px;
  }
}
@media only screen and(max-width: 420px) {
  .ahorra-logo{
    margin-left: 17px;
    height: 29px;
  }
}
@media only screen and(max-width: 414px) {
  .ahorra-logo{
    margin-left: 15px;
    height: 29px;
  }
}
@media only screen and(max-width: 411px) {
  .ahorra-logo{
    margin-left: 21px;
    height: 27px;
  }
}
@media only screen and(max-width: 380px) {
  .ahorra-logo{
    margin-left: 8px;
    height: 27px;
  }
}
@media only screen and(max-width: 360px) {
  .ahorra-logo{
    margin-left: 6px;
    height: 26px;
  }
}
@media only screen and(max-width: 320px) {
  .ahorra-logo{
    margin-left: 10px;
    height: 22px;
  }
}
@media only screen and(max-width: 280px) {
  .ahorra-logo{
    margin-left: 9px;
    height: 19px;
  }
}
