<!--<div class="auth-page">-->
<!--  <div class="auth-page__content-block">-->
<!--    <div class="auth-page__content-wrapper">-->
<!--      <mat-tab-group class="auth-page__group">-->
<!--        <mat-tab label="Login">-->
<!--          <h4 class="auth-page__group-title">Good Morning, User</h4>-->
<!--          <div class="auth-page__google-button-wrapper">-->
<!--            <button mat-raised-button class="auth-page__google-button">-->
<!--              <img class="auth-page__google-button-icon" src="./assets/auth/google.svg" alt="google">Sign in with Google-->
<!--            </button>-->
<!--          </div>-->

<!--          <div class="auth-page__border-wrapper">-->
<!--            <div class="auth-page__border-line"></div>-->
<!--            <p class="auth-page__border-title">or</p>-->
<!--            <div class="auth-page__border-line"></div>-->
<!--          </div>-->

<!--          <app-login-form (sendLoginForm)="sendLoginForm()"></app-login-form>-->

<!--        </mat-tab>-->
<!--        <mat-tab label="New User">-->
<!--          <h4 class="auth-page__group-title">Welcome!</h4>-->
<!--          <p class="auth-page__group-sub-title">Create you account</p>-->

<!--          <app-update-form (sendSignForm)="sendSignForm()"></app-update-form>-->

<!--          <div class="auth-page__border-wrapper">-->
<!--            <div class="auth-page__border-line"></div>-->
<!--            <p class="auth-page__border-title">or</p>-->
<!--            <div class="auth-page__border-line"></div>-->
<!--          </div>-->

<!--          <div class="auth-page__google-button-wrapper">-->
<!--            <button mat-raised-button class="auth-page__google-button">-->
<!--              <img class="auth-page__google-button-icon" src="./assets/auth/google.svg" alt="google">Sign in with Google-->
<!--            </button>-->
<!--          </div>-->
<!--        </mat-tab>-->
<!--      </mat-tab-group>-->

<!--      <p class="auth-page__footer-title">© 2014-{{todayDate | year}} <a href="https://flatlogic.com/">Flatlogic</a>, LLC. All rights reserved.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="auth-page__logo">-->
<!--    <div class="auth-page__logo-wrapper">-->
<!--      <img class="auth-page__logo-img" src="./assets/auth/logo.svg" alt="logo">-->
<!--      <h6 class="auth-page__logo-title">Material Admin</h6>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<mat-toolbar id="header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span class="logoController">
    <img class="ahorra-logo" src="../../../../../assets/img/migo-seguros.svg">
  </span>
  <div class="store">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>


<mat-toolbar id="footer">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span>
    <img class="ahorra-logo" src="../../../../../assets/img/migo-seguros.svg">
  </span>
  <span class="example-spacer"></span>
  <a href="https://play.google.com/store/apps/details?id=com.ahorraseguros.migoseguros">
    <img class="ahorra-logo" src="assets/gogle.png">
  </a>
  <a href="https://apps.apple.com/mx/app/migo-seguros-m%C3%B3vil/id1567982774">
    <img class="ahorra-logo" src="assets/appstore.png">
  </a>
</mat-toolbar>
