@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.button-user-wrapper{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.name-button{
  transition: .4s;
  cursor: pointer;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.button-user-wrapper:hover{
  .user-button {
    transition: .6s;
    transform: scale(1.2);
  }
  .name-button{
    transition: .6s;
    transform: translate(-2px);
  }
}
.menu-buttons{
  color: #ff025d;
  display: flex;
  flex-wrap: wrap;
}
.menu-buttons:hover{
  color: #ff6d0e;
}
.user-button {
  transition: .4s;
  background-color: transparent;
  box-shadow: none;
  margin-left: 16px;

  &__icon {
    color: #ffffff;
  }
  @media (max-width: $small) {
    margin-top: 0;
  }
}

.sign-button-wrapper {
  text-align: center;
  padding: 8px 0 16px 0;
  width: 100%;
}
.sign-button {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  margin-bottom: 5px;
  color: #f83f37;
  width: 80%;

  mat-icon{
    margin-right: 10px;
  }
}

