<div class="button-user-wrapper" [matMenuTriggerFor]="userMenu" hidden>
<button class="user-button" mat-mini-fab>
  <mat-icon class="user-button__icon">account_circle</mat-icon>
</button>
  <p class="name-button" *ngIf="firstName">{{firstName}}</p>
</div>
<mat-menu #userMenu="matMenu" xPosition="before" class="user-menu">
  <div class="sign-button-wrapper">
    <button class="sign-button" mat-flat-button routerLink="{{routes.DATOS_PERSONALES}}"><mat-icon>article</mat-icon>Mis Datos</button>
    <button class="sign-button" mat-flat-button routerLink="{{routes.CAMBIAR_CONTRASENA}}"><mat-icon>vpn_key</mat-icon>Contraseña</button>
    <button class="sign-button" mat-flat-button (click)="signOutEmit()"><mat-icon>person_off</mat-icon>Cerrar sesión</button>
  </div>
</mat-menu>
