<div class="main">
  <pdf-viewer [src]="pdfAviso" style="width:400px" *ngIf="mobile"
              [autoresize]="true"
              [original-size]="false"
  ></pdf-viewer>
  <pdf-viewer [src]="pdfAviso" *ngIf="!mobile" style="width: 70% !important; overflow: hidden"
              [autoresize]="true"
              [original-size]="false"
  ></pdf-viewer>
  <div class="options" [class.options2]="!mobile">
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="checked">Aceptar el Aviso de Privacidad</mat-checkbox>
    </section>
    <button  mat-raised-button color="primary" disabled="{{!checked}}" style="width: 100%" (click)="aceptarAviso()">Continuar</button>
  </div>
</div>
