<main>
  <div class="globalContainer">

    <!--    FORMUARIO-->
    <div class="form">

      <mat-card class="formCard">
        <mat-card-header class="title-3" style="font-weight: bold">
          Actualizar contraseña
        </mat-card-header>

        <form [formGroup]="loginForm">

          <div>
            <mat-form-field class="form-group">
              <input matInput type="text" formControlName="password1" placeholder="NUEVA CONTRASEÑA">
            </mat-form-field>
            <mat-error class="error" *ngIf="!loginForm.controls['password1'].valid && loginForm.controls['password1'].dirty">
              Se requiere llenar el campo correctamente
            </mat-error>
          </div>

          <div>
            <mat-form-field class="form-group">
              <input matInput type="text" formControlName="password2" placeholder="REPETIR CONTRASEÑA">
            </mat-form-field>
            <mat-error class="error" *ngIf="!loginForm.controls['password2'].valid && loginForm.controls['password2'].dirty">
              Se requiere llenar el campo correctamente
            </mat-error>
          </div>
        </form>

        <div class="actions">
          <mat-error>
            {{result}}
          </mat-error>
          <button id="button-blue" mat-raised-button color="primary" class="button-submit title-4" (click)="updatePassword()">Actualizar datos</button>
        </div>
      </mat-card>
    </div>

    <!--    IMAGEN A MOSTRAR SEGUN EL ESTADO DEL LOGIN-->
    <div class="banner">
      <img class="drawLogin" src="../../../../../assets/img/accessAccount.svg" alt="">
    </div>
  </div>
</main>
