@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";


//.mat-list-base {
//  border-bottom: 1px solid $gray-80;
//  width: $sidebar-width;
//  padding-bottom: 16px;
//  background-color: transparent;
//
//  & .mat-list-item {
//    display: flex;
//    cursor: pointer;
//    font-weight: 403;
//    color: white;
//    width: auto;
//
//    &.active {
//      color: rgba(255, 255, 255, 0.73);
//      background-color: #00000012;
//      outline: none;
//
//      & .mat-icon {
//        color: ghostwhite;
//      }
//
//      & .circle {
//        background-color: #ff6d0e;
//      }
//    }
//
//    &:hover {
//      transition: 0.5s;
//      background-color: #00000012;;
//    }
//
//    &:focus {
//      outline: none;
//    }
//  }
//}
//
//.mat-icon {
//  margin-right: 15px;
//  color: white;
//}
//
//
//.sidebar-title {
//  color: white;
//  font-size: $fs-normal;
//  text-transform: uppercase;
//  margin-top: 32px;
//  margin-left: 24px;
//  margin-bottom: 16px;
//  font-weight: 427;
//}
//
//.mat-list-base .mat-list-item.ui-element {
//  padding-left: 40px;
//}
//
//.circle {
//  width: 5px;
//  height: 5px;
//  border-radius: 50%;
//  background-color: transparent;
//  margin-right: 30px;
//}
//
//.project-circle {
//  width: 8px;
//  height: 8px;
//  border-radius: 50%;
//  margin-right: 15px;
//  margin-left: 8px;
//
//  &_yellow {
//    background-color: $yellow;
//  }
//
//  &_blue {
//    background-color: $blue;
//  }
//
//  &_pink {
//    background-color: $pink;
//  }
//  .mat-form-field + .mat-form-field {
//    margin-left: 8px;
//  }
//}
//mat-list-item .hidden{
//margin-left: 40px;
//}

ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 12px 0 0;
}
p{
  margin: 0;
  padding: 0;
  font-weight: 403;
}
mat-icon{
  margin-right: 10px;
}
.item-link{
  display: inline-flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  color: white;
  padding: 5px 0 5px 18px;
}
.open-sub-list {
  display: inline-flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  color: white;
  padding: 5px 0 5px 18px;
}
.item-sub-list {
  transition: .4s;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
  align-items: center;
  color: white;
  padding: 5px 0 5px 30px;
}
.item-sub-list.active{
  background-color: #00000021;
}
.item-link.active{
  background-color: #00000021;
}
.item-link:hover{
  background-color: #00000021;
}
