<ul type="none">
  <li routerLink="{{routes.POLIZAS}}" routerLinkActive="active" class="item-link">
    <mat-icon>receipt_long</mat-icon><p>Mis Polizas</p>
  </li>
  <li routerLink="{{routes.SOLICITUDES}}" routerLinkActive="active" class="item-link">
    <mat-icon>history_edu</mat-icon><p>Mis Solicitudes</p>
  </li>
  <li routerLink="{{routes.IDENTIFICACION_OFICIAL}}" routerLinkActive="active" class="item-link">
    <mat-icon>badge</mat-icon><p>Identificación Oficial</p>
  </li>
  <li routerLink="{{routes.INSPECCION_VEHICULAR}}" routerLinkActive="active" class="item-link">
    <mat-icon>car_repair</mat-icon><p>Inspección Vehicular</p>
  </li>
  <li routerLink="{{routes.EN_CASO_DE_SINIESTRO}}" routerLinkActive="active" class="item-link">
    <mat-icon>handyman</mat-icon><p>En caso de Siniestro</p>
  </li>
  <!--- sub menu y boton para su apertura --->
  <li class="open-sub-list" (click)="openUiElements()" [style.background-color]="changesStyles()" style="transition: 0.4s">
    <mat-icon>support_agent</mat-icon><p>Comunicate</p><mat-icon [style.transform]="transformStyles()" style="transition: 0.4s">arrow_drop_down</mat-icon>
  </li>
  <li routerLink="{{routes.ACLARACION_Y_SUGERENCIAS}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
    <mat-icon>connect_without_contact</mat-icon><p>Aclaración y<br>Sugerencias</p>
  </li>
  <li routerLink="{{routes.INSTRUCCIONES_DE_PAGO}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
    <mat-icon>format_list_numbered_rtl</mat-icon><p>Instrucciones <br>de pago</p>
  </li>
  <li routerLink="{{routes.CATALOGO_DE_FACTURACION}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
    <mat-icon>chrome_reader_mode</mat-icon><p>Catalogo de <br>Facturación</p>
  </li>
  <li routerLink="{{routes.CONDICIONES_GENERALES}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
    <mat-icon>library_books</mat-icon><p>Codiciones <br>Generales</p>
  </li>
  <li routerLink="{{routes.SOLICITAR_MODIFICACIONES}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
    <mat-icon>edit_note</mat-icon><p>Modificar <br> Poliza</p>
  </li>
  <li routerLink="{{routes.CANCELAR_UNA_POLIZA}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
    <mat-icon>cancel_presentation</mat-icon><p>Cancelar una <br>Poliza</p>
  </li>
  <!--- sub menu perfil del usuario --->
  <li class="open-sub-list" (click)="openUserMenu()" [style.background-color]="changesStylesUM()" style="transition: 0.4s">
    <mat-icon>manage_accounts</mat-icon><p>Mi Perfil</p><mat-icon [style.transform]="transformStylesUM()" style="transition: 0.4s">arrow_drop_down</mat-icon>
  </li>
  <li routerLink="{{routes.DATOS_PERSONALES}}" routerLinkActive="active" class="item-link" *ngIf="userMenu">
    <mat-icon>perm_identity</mat-icon><p>Mis Datos</p>
  </li>
  <li routerLink="{{routes.CAMBIAR_CONTRASENA}}" routerLinkActive="active" class="item-link" *ngIf="userMenu">
    <mat-icon>vpn_key</mat-icon><p>Cambiar Contraseña</p>
  </li>
    <!--boton para el cerrado de cesión-->
  <li class="item-link" (click)="signOut()" *ngIf="userMenu">
    <mat-icon>person_off</mat-icon><p>Cerrar Sesión</p>
  </li>

</ul>
