<form [formGroup]="loginForm">
  <div>
    <mat-form-field appearance="legacy" class="title-4">
      <mat-label>Ingresa tu correo</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-error class="error" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].dirty">
      Se requiere llenar el campo correctamente
    </mat-error>
  </div>

  <div class="actions">
    <button id="button-blue" (click)="validateEmail()"
            mat-raised-button color="primary" class="button-submit title-4">
      ENVIAR
    </button>
  </div>
</form>
