@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 0;
  }
}
.expandContent {
  width: 100%;
  height: calc(100vh - 170px);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  width: 100%;
  height: 90%;
}

.h4Iter {
  visibility: visible;
  font-size: 28px;
  margin: 0;
}

.safesLogos {
  width: 100%;
  height: auto;
  padding: 20px 0 10px 0;
  display: inline-block;
}
.safesCards {
  width: 90%;
  margin: 0 3% 10px;
  min-height: 120px;
  height: auto;
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

}
.imgAseguradoraInstruccionesDePago {
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: all linear 0.2s;
  opacity: 1;
}
.imgAseguradoraInstruccionesDePago:hover {
  opacity: 0.5;
}

.waves-wrapper {
  width: 100%;
  height: 100px;
}
.header2 {
  position:relative;
  text-align:center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #ff6d0e 40%, #ff025d, rgba(255,255,255,1) 100%);
  color:white;
}
.icons-wrapper{
  width: 90%;
  height: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer
}

.cgtype-icon{
  color: #ff6d0e;
}

figure{
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;

  mat-icon{
    padding: 0;
  }
}

figure:hover{
  transition: .4s;
  opacity: 60%;
}

.cgtype-icon{
  font-size: 32px;
}
.cgtype-text{
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 18px;
  color: #ff3880;
}

.waves {
  position:relative;
  height: 100px;
  width: 100%;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
::-webkit-scrollbar{
  width: 5px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-width: 1024px) {
  .support-requests__header{
    padding: 8px;
  }
  .h4Iter{
    margin-top: 14px;
  }
  .cgtype-text{
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and(max-width: 600px) {
  .imgAseguradoraInstruccionesDePago {
    width: 140px;
    height: 40px;
  }
  .safesCards {
    min-height: 90px;
  }
  .h4Iter{
    margin-top: 14px;
    font-size: 24px;
  }
}
@media only screen and(max-width: 580px) {
  .waves-wrapper {
    height: 60px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 120px;
    height: 40px;
  }
  .cgtype-icon{ 
    font-size: 26px;
  }
  .cgtype-text{
    font-size: 12px;
    margin: 3px 0 0 0;
  }
}
@media only screen and(max-width: 540px) {
  .support-requests__header{
    padding: 5px;
  }
  .waves-wrapper {
    height: 50px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 80px;
    height: 30px;
  }
  .safesCards {
    min-height: 50px;
  }
  .h4Iter{
    margin-top: 14px;
  }
}
@media only screen and(max-width: 420px) {
  .support-requests__header{
    padding: 0;
  }
  .h4Iter{
    margin-top: 24px;
  }
  .cgtype-icon{
    font-size: 24px;
  }
  .cgtype-text{
    font-size: 10px;
  }
}
@media only screen and(max-width: 411px) {
  .imgAseguradoraInstruccionesDePago {
    width: 57px;
    height: 30px;
  }
  .support-requests__header {
    padding: 0;
    margin: 0;
  }
  .h4Iter{
    margin: 24px 0 16px;
  }
}
@media only screen and(max-width: 375px) and(max-height: 667px) {
  ::-webkit-scrollbar{
    width: 4px;
  }
}
@media only screen and(max-width: 360px) {
  .h4Iter{
    margin: 22px 0 0 0;
  }
  .cgtype-icon{
    font-size: 18px;
  }
}
@media only screen and(max-width: 320px) {
  .h4Iter {
    font-size: 20px;
  }
}
@media only screen and(max-width: 280px){
  .h4Iter{
    font-size: 20px;
  }
  .cgtype-icon{
    font-size: 16px;
  }
  .cgtype-text{
    font-size: 8px;
  }
}
