<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">Condiciones Generales</h4>
      <div class="expandElements">
        <section class="safesLogos">
          <mat-card class="safesCards" *ngFor="let insure of insurersGroupCollection; let i = index;">
            <img id="imgsecure" src="{{insure.urlIMG}}" alt="Insurancers Graph Img" class="imgAseguradoraInstruccionesDePago" (click)="openDialog(i)">
            <div class="waves-wrapper">
              <div class="header2">
                <div *ngIf="insurersGroupCollection[i].showIcons">
                  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                      <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
                    </defs>
                    <g class="parallax">
                      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"/>
                      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"/>
                      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"/>
                      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="icons-wrapper" *ngIf="!insurersGroupCollection[i].showIcons">
                <figure (click)="openGeneral(i)">
                  <mat-icon class="cgtype-icon">drive_eta</mat-icon>
                  <p class="cgtype-text"> General </p> 
                </figure>
                <figure *ngIf="insurersGroupCollection[i].cgpublico;" (click)="openTaxi(i)">
                  <mat-icon class="cgtype-icon">local_taxi</mat-icon>
                  <p class="cgtype-text"> Taxi </p> 
                </figure>
                <figure *ngIf="insurersGroupCollection[i].cgcarga" (click)="openCarga(i)">
                  <mat-icon class="cgtype-icon">local_shipping</mat-icon>
                  <p class="cgtype-text"> Carga </p> 
                </figure>
                <figure *ngIf="insurersGroupCollection[i].cgmotos" (click)="openMoto(i)">
                  <mat-icon class="cgtype-icon">two_wheeler</mat-icon>
                  <p class="cgtype-text"> Motos </p> 
                </figure>
              </div>
            </div>
          </mat-card>
        </section>
      </div>
    </section>
  </mat-card-title>
</mat-card>
