@import '../../../../styles/colors';
@import '../../../../styles/font';
@import '../../../../styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 0;
  }
}

.expandContent {
  margin-top: 20px;
  width: 100%;
  height:calc(100vh - 170px);
  padding: 24px 24px 8px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  width: 100%;
  height: fit-content;
}

.subtitleP {
  font-size: 22px;
}

img{
  width: 40vw;
}

//////////////RESPONSIVE SECTION//////////////////////////////

@media only screen and(max-width: 1024px) {
  .subtitleP {
    font-size: 22px;
  }
}

@media only screen and(max-width: 760px) {
  .subtitleP {
    font-size: 18px;
  }
}


@media only screen and(max-width: 420px) {
  .subtitleP {
    font-size: 16px;
  }
}


@media only screen and(max-width: 320px) {
  .subtitleP {
    font-size: 14px;
  }
}

//////////////////////////////////////////////RESPONSIVE HEIGTH/////////////////////////////////////////////////////////

