header {
  background-color: #1d3362;
  width: 100%;
  height: 50px;
}

.logo {
  width: 170px;
}

form {
  display: grid;
  width: 250px;
  height: 200px;
}

.sendData:enabled {
  height: 35px;
  background-color: #1d3362;
  color: #fff;
  transition: all 0.4s linear;
}

.container {
  display: inline-flex;
  width: 100%;
  height: -webkit-fill-available;
}

mat-card {
  width: 48%;
  height: auto;
  margin: 17% 1%;
}

.setter {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.desktopBanner {
  width: 450px;
}

.mobileBanner {
  display: none;
}

.h4 {
  text-align: center;
}

@media only screen and(max-width: 1024px) {
  .desktopBanner {
    width: 420px;
  }
  mat-card {
    margin: 25% 1%;
  }
}
@media only screen and(max-width: 1010px) {
  .desktopBanner {
    width: 400px;
  }
  mat-card {
    margin: 22% 1%;
  }
}
@media only screen and(max-width: 768px) {
  .desktopBanner {
    width: 380px;
  }
  mat-card {
    margin: 30% 1%;
  }
}
@media only screen and(max-width: 760px) {
  .desktopBanner {
    width: 350px;
  }
  mat-card {
    margin: 31% 1%;
  }
}
//CAMBIO DINÁICO DE ELEMENTOS
@media only screen and(max-width: 620px) {
  .container {
    display: block;
  }
  .desktopBanner {
    display: none;
  }
  .mobileBanner {
    display: block;
    width: 320px;
    margin: 0 auto;
  }
  mat-card {
    width: 80%;
    margin: 15px auto;
  }
}
@media only screen and(max-width: 580px) {}
@media only screen and(max-width: 420px) {
  .mobileBanner {
    width: 280px;
  }
}
@media only screen and(max-width: 411px) {
  .mobileBanner {
    width: 230px;
  }
}
@media only screen and(max-width: 380px) {
  .mobileBanner {
    width: 200px;
  }
}
@media only screen and(max-width: 320px) {
  .mobileBanner {
    width: 150px;
  }
}
@media only screen and(max-width: 280px) {
  .mobileBanner {
    width: 150px;
  }
}


