main {
  width: 100%;
  height: calc(100vh - 110px);
}
.globalContainer {
  width: 100%;
  display: inline-flex;
  height: 500px;
}

.form {
  width: 100%;
  height: 80vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: 80vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.formCard {
  width: 400px;
  height: fit-content;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

form {
  width: 100%;
  height: 40vh;
  display: inline-block;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

mat-form-field {
  width: 100%;
}

.drawLogin {
  background-image: url("~src/assets/img/unlokAccount.svg");
  width: 500px;
  height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}
.title-login{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.mat-input-element {
  background: #cad9e678;
  border-radius: 10px;
  height: 43px;
  font-weight: normal;
}

.title-3 {
  font-size: 28px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .drawLogin {
    background-image: url("~src/assets/img/unlokAccount.svg");
    width: 480px;
    height: 500px;
  }
}
@media only screen and(max-width: 768px) {
  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
  }
}



////////////////////////HEIGHT//////////////////////////////////////////
@media only screen and(max-height: 1420px){
  form{
    height: 400px;
  }
  .title-3 {
    margin-bottom: 52px !important;
  }
  .actions {
    margin-top: 52px;
  }
}

@media only screen and(max-height: 1024px){
  form{
    height: 300px;
  }
  .title-3 {
    margin-bottom: 42px !important;
  }
  .actions {
    margin-top: 45px;
  }
}

@media only screen and(max-height: 823px){
  .title-3 {
    margin-bottom: 38px !important;
  }
  .actions {
    margin-top: 42px;
  }
}

@media only screen and(max-height: 670px){
  .title-3 {
    font-size: 25px;
    margin-bottom: 25px !important;
  }
  .actions {
    margin-top: 32px;
  }
}

@media only screen and(max-height: 568px){
  .title-3 {
    margin-bottom: 20px !important;
  }
  .actions {
    margin-top: 16px;
  }
}

.forgot {
  color: #0b5394;
  text-decoration: underline #3CD4A0;
  font-weight: 600;
  cursor: pointer;
}

.mailSend {
  color: #0b5394;
  font-weight: 600;
}