@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
    margin-bottom: 0;
  }
}
section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h4 {
  text-align: center;
}

.formPassword {
  width: auto;
  max-width: 320px;
  height: 350px;
  margin: 0 auto;
  display: grid;
}

.dangerText {
  color: #ff4081;
  font-size: 1.2rem;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: center;
}
.mat-label{
  font-size: 14px;
}

///////////////////////////////////////////////////////////
//////////  ----- RESPONSIVE SECTION -----  ///////////////
///////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {}

@media only screen and(max-width: 768px) {}

@media only screen and(max-width: 760px) {}

@media only screen and(max-width: 600px) {}

@media only screen and(max-width: 580px) {}

@media only screen and(max-width: 420px) {}

@media only screen and(max-width: 411px) {}

@media only screen and(max-width: 380px) {}

@media only screen and(max-width: 360px) {}

@media only screen and(max-width: 320px) {}
