@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.topButtons{
  display: flex;
  width: auto;
  align-items: center;
  color:#ff6d0e;
  cursor: pointer;

  p{
    width: auto;
    margin: 0;
    font-family:sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
}


.support-requests{
  min-height: calc(100vh - 170px);
}
.loadSpinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);
}

.topCard {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
.downloadButonIcon {
  color: #ff6d0e;
  font-size: 3rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 768px) {
.downloadButonIcon {
  color: #ff6d0e;
  font-size: 3rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 760px) {
.downloadButonIcon {
  color: #ff6d0e;
  font-size: 2.5rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 620px) {
.downloadButonIcon {
  color: #ff6d0e;
  font-size: 2rem;
  cursor: pointer;
}
}
@media only screen and(max-width: 580px) {
  .downloadButonIcon {
    color: #ff6d0e;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 420px) {
  .downloadButonIcon {
    color: #ff6d0e;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 411px) {
  .downloadButonIcon {
    color: #ff6d0e;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 380px) {
  .downloadButonIcon {
    color: #ff6d0e;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 360px) {
  .downloadButonIcon {
    color: #ff6d0e;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 320px) {
  .downloadButonIcon {
    color: #ff6d0e;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media only screen and(max-width: 280px) {
  .downloadButonIcon {
    color: #ff6d0e;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

