<mat-toolbar class="header">
  <div class="title-wrapper">
  <div class="header__title" >
    <div class="bannerAhorra" routerLink="{{routers.DASHBOARD}}" routerLinkActive="active"></div>
  </div>
  <div class="buttons-wrapper" *ngIf="innerWidth >= 900">
    <button mat-flat-button class="menu-buttons" routerLink="{{routers.POLIZAS}}" routerLinkActive="active"><mat-icon class="hover-slice">receipt_long</mat-icon><p>Polizas</p></button>
    <button mat-flat-button class="menu-buttons" routerLink="{{routers.SOLICITUDES}}" routerLinkActive="active"><mat-icon class="hover-slice">history_edu</mat-icon><p>Solicitudes</p></button>
    <button mat-flat-button class="menu-buttons" routerLink="{{routers.IDENTIFICACION_OFICIAL}}" routerLinkActive="active"><mat-icon class="hover-slice">badge</mat-icon><p>ID Oficial</p></button>
    <button mat-flat-button class="menu-buttons" routerLink="{{routers.INSPECCION_VEHICULAR}}" routerLinkActive="active"><mat-icon class="hover-slice">car_repair</mat-icon><p>Inspección Vehicular</p></button>
    <button mat-flat-button class="menu-buttons" routerLink="{{routers.EN_CASO_DE_SINIESTRO}}" routerLinkActive="active"><mat-icon class="hover-slice">handyman</mat-icon><p>Siniestros</p></button>
    <div class="sub-header">
      <button mat-flat-button class="open-subheader-buttons" routerLink="{{routers.ACLARACION_Y_SUGERENCIAS}}" routerLinkActive="active" #contact="routerLinkActive"><mat-icon class="icon-subheader-button">support_agent</mat-icon><p class="subheader-buttontext">Comunicate<mat-icon class="subheader-open-icon">arrow_drop_down</mat-icon></p></button>
      <div class="sub-header-content" *ngIf="contact.isActive">
        <div class="transparent-cape">
        <button mat-flat-button class="subheader-buttons" routerLink="{{routers.INSTRUCCIONES_DE_PAGO}}" routerLinkActive="active"><mat-icon class="icon-subheader">format_list_numbered_rtl</mat-icon><p class="subheader-text">Instrucciones de Pago</p></button>
        <button mat-flat-button class="subheader-buttons" routerLink="{{routers.CATALOGO_DE_FACTURACION}}" routerLinkActive="active"><mat-icon class="icon-subheader">chrome_reader_mode</mat-icon><p class="subheader-text">Catalogo de Facturación</p></button>
        <button mat-flat-button class="subheader-buttons" routerLink="{{routers.CONDICIONES_GENERALES}}" routerLinkActive="active"><mat-icon class="icon-subheader">library_books</mat-icon><p class="subheader-text">Condiciones Generales</p></button>
          <button mat-flat-button class="subheader-buttons" routerLink="{{routers.SOLICITAR_MODIFICACIONES}}" routerLinkActive="active"><mat-icon class="icon-subheader">edit_note</mat-icon><p class="subheader-text">Modificar Poliza</p></button>
          <button mat-flat-button class="subheader-buttons" routerLink="{{routers.CANCELAR_UNA_POLIZA}}" routerLinkActive="active"><mat-icon class="icon-subheader">cancel_presentation</mat-icon><p class="subheader-text">Cancelar una Poliza</p></button>
        </div>
        </div>
    </div>
  </div>
  </div>

  <div class="user-wrapper">
  <div class="header-toolbar">
    <app-user (signOut)="signOut()" [hidden]="innerWidth < 900"></app-user>
    <button class="header__title-button" *ngIf="innerWidth < 900" mat-mini-fab (click)="openMenu()">
      <mat-icon class="header__title-button-icon">menu</mat-icon>
    </button>
  </div>
  </div>
</mat-toolbar>
