@import '~src/app/styles/colors';
@import '~src/app/styles/font';
@import '~src/app/styles/variables';

.title-wrapper{
  display: flex;
  justify-content: left;
  height: 100%;
  width: 95%;
}
.user-wrapper{
  display: flex;
  justify-content: flex-end;
}
.header {
  background-image: repeating-linear-gradient(173deg, #ff6d0e, #ff025d 300px);
  position: fixed;
  z-index: 2;
  height: $header-height;

  &__title {
    display: flex;
    align-items: center;
  }

  &__title-button {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    &:hover {
      background-color: $header-button-background-color-hover;
    }

    @media (max-width: $small) {
      margin-top: 0;
    }
  }

  &__title-button-icon {
    color: $header-button-font-color;
    padding: 0 5px 4px 0;
  }

  &__title-text {
    color: $header-title-font-color;
    margin-left: 32px;
    font-weight: $fw-lighter;

    @media (max-width: $small) {
      display: none;
    }
  }
}
.header-toolbar {
  display: flex;
  align-items: center;
}
.buttons-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
}

//////////////open subheader buttons///////////////
.sub-header{
  float: inherit;
  overflow: hidden;
}
.open-subheader-buttons{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 99%;
  border-radius: 0;
  background-color: transparent;
}
.icon-subheader-button{
  display: block;
  position: absolute;
  margin-left: 38px;
  opacity: 0;
  color: white;
}
.subheader-buttontext{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  font-weight: 480;
}
.subheader-open-icon{
  margin-bottom: 4px;
  padding: 0;
}
.sub-header-content{
  display: flex;
  position: absolute;
  justify-content: space-around;
  left: 0;
  background-image: repeating-linear-gradient(
      5deg
    , #ff6d0e, #ff025d 250px);
  width: 100%;
  height: 46px;
  z-index: 1;
}
.transparent-cape{
  display: flex;
  justify-content: space-around;
  background-color: #00000020;
  width: 100%;
}
//////////focus open subheader buttons///////////
.open-subheader-buttons.active{
  background-color: #00000020;
  .icon-subheader-button{
    transition: .7s;
    transform: translate(0, -13px);
    opacity: 1;
  }
  .subheader-buttontext{
    transition: .6s;
    transform: translate(12px, 12px);
  }
  .subheader-open-icon{
    transition: .4s;
    opacity: 0;
  }
}

.subheader-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  font-weight: 480;
  .subheader-text{
    transition: .4s;
    margin-bottom: 0;
  }
  .icon-subheader{
    transition: .3s;
    display: block;
    position: absolute;
    margin-top: -5px;
    margin-left: 60px;
    opacity: 0;
  }
}
.subheader-buttons:hover{
  .icon-subheader {
    transition: .7s;
    transform: translate(0, -8px) scale(0.8);
    opacity: 1;
  }
  .subheader-text{
    transition: .6s;
    transform: translate(0, 8px) scale(0.8);
  }
}

////////////////////////////////////////////////////////
.menu-buttons{
  content: '';
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 99%;
  border-radius: 0;
  color: white;
  font-weight: 480;
  margin-top: 0;
  padding-top: 0;
  p{
    transition: 0.4s;
    position: center;
    transform: translate(0%, -75%);
    margin: 0;
    padding: 0;
  }
  .hover-slice{
    transition: 0.3s;
    position: center;
    transform: translate(0%, 20%);
    z-index: -1;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  &.active{
    background-color: #00000020;
      p{
        transition: .6s;
        transform: translate(0%, -8%);
      }

      .hover-slice{
        transition: .7s;
        transform: translate(0%, -20%);
        opacity: 1;
      }
  }
}
.menu-buttons:hover{
  background-color: #00000020;
}
.bannerAhorra {
  background-image: url("../../../../../../src/assets/img/migo-seguros.svg");
  width: 90px;
  height: 40px;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .4s;
}
.bannerAhorra:hover{
  transition: .6s;
  transform: scale(1.15);
}
